body
{
    font-family: Arial;
    background-color: #f4f4f4;
}
.pura
{
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}
h2
{
    margin-bottom: 20px;

}
.group
{
     margin-bottom: 20px;
     text-align: left;
}
.group label
{
    font-size: 16px;
    color: #555;

}
.group input
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}

.btn
{
    background-color: #66bfbf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor:pointer
}
.btn:hover
{
    background-color: #55a8a8;
}
/* :hover{ 
    color: greenyellow;
}*/